@media only screen and (min-width: 1400px) {
    .menu {
        margin-left: 35%;
    }
}

@media only screen and (max-width: 1200px) {
    .menu {
        margin-left: 8%;
    }
}

@media only screen and (max-width: 990px) {
    .fix-header {
        padding-top: 50px;
    }
    .review-card {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .card-1 {
        height: 750px;
    }
    .card-2 {
        height: 600px;
    }
    .card-4 {
        height: 600px;
    }
    .card-1 img {
        width: 100%;
    }
    .card-2 img {
        width: 100%;
    }
    .card-2 .last-img-card {
        width: 230px;
        height: 140px;
    }
    .gallary-img {
        width: 160px;
        height: 162px;
    }
}

@media only screen and (max-width: 730px) {
    .live-chat {
        display: block;
    }
    .mail p {
        display: none;
    }
    .phone p {
        display: none;
        ;
    }
    .left_info {
        display: flex;
    }
}

@media only screen and (max-width: 576px) {
    .card-1 {
        margin-bottom: 10px;
    }
    .card-2 {
        margin-bottom: 10px;
    }
    .card-4 {
        margin-bottom: 10px;
    }
    .text-maroon {
        font-size: 32px;
    }
    .home-main-heading {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 42px;
    }
    .home-main-para {
        text-align: center;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .gallary-1 {
        flex: 0 0 auto;
        width: 50%;
    }
    .custpmization_part_img {
        padding: 0px 0px 100px 0px;
    }
    .order-img_part {
        width: 250px;
        height: 250px;
    }
    .pp {
        margin-top: 40px;
    }
    .pp1 {
        margin-top: 20px;
    }
    .card-5 {
        flex: 0 0 auto;
        width: 100%;
    }
    .ft-links li {
        margin-bottom: -8px;
    }
    .fl-r,
    .bg-footer-sec .rights {
        text-align: center;
    }
    .pp2 {
        font-size: 11px;
    }
}